@charset "utf-8";
/* CSS Document */

#logo {
	float:right;
	margin-top:15px;
}
#about-us {
	margin-right:135px;
}
#list {
	border-collapse:collapse;
	margin-top:15px;
}
#list tr {
	border:1px solid #151515;
	padding:5px;
	color:#ddd;
}
#list td {
	border:1px solid #151515;
	padding:5px 10px 5px 5px;
}
#list tr:first-child {
	font-weight:bold;
	background-color:#222;
	text-align:center;
	color:white;
}
.even-row {
	background-color:#333;
}